# Obj and Data Structs Test

Test your knowledge and answer the following:

* Numbers: You can multiple them, add them, exponenets, add () for a certain way if you don't want PEMDAS
* Strings: a string of characters. And you can use indexing[] and slicing{start:stop:step}. They are immutable. Have methods like .upper(), .lower(), .format() 
* Lists: They can also use indexing and slicing. They can be nested. Use methods like .pop(), .append(), .sort()
* Tuples: Kinda like lists except for their immutability. Every elements is unique. Methods like .index() and .count()
* Dictionaries: They're unordered and have a key to each value. There is no sorting, indexing or slicing. You can check its content by using .keys(), .values(), .items()

# Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [1]:
10025/((100-(25*2)) + (100-(25 * 2)))

100.25

* What is the value of the expression 4 * (6 + 5) = 44
* What is the value of the expression 4 * 6 + 5  = 29
* What is the value of the expression 4 + 6 * 5  = 34

What is the type of the result of the expression 3 + 1.5 + 4? Float

What would you use to find a numberâ€™s square root, as well as its square?

In [5]:
# Square Root:
100 ** .5

10.0

In [6]:
#Square:
10 ** 2

100

# Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [7]:
s = 'hello'
#Print out 'e' using indexing 
s[1]

'e'

Reverse the string 'hello' using slicing:

In [8]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'
# Print out the 'o'
# Method 1:
s[4]

'o'

In [10]:
# Method 2:
s[-1]

'o'

# Lists

Build this list [0,0,0] two separate ways.

In [12]:
# Method 1:
myList = [0,0,0]
myList

[0, 0, 0]

In [13]:
[0] * 3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [16]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [17]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

# Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [18]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [19]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [24]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [27]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not?: Because they are mappings not a sequence

# Tuples

What is the major difference between tuples and lists? Tuples are immutable

How do you create a tuple?

In [28]:
myTuple = (1,2,3)

# Sets

What is unique about a set? : You can't duplicate them

Use a set to find the unique values of the list below:

In [3]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [4]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

# Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

In [5]:
2 > 3
#False

False

In [6]:
3 <= 2
#False

False

In [7]:
3 == 2.0
#False

False

In [8]:
3.0 == 3
#True

True

In [9]:
4 ** .5 != 2
#False

False

In [11]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# False
l_one[2][0] >= l_two[2]['k1']

False